.speech {
    font-size: 15px;
    //font-style: italic;
    color: black;
    font-family: "Times New Roman";
}

.direction {
    font-size: 15px;
    //font-style: italic;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}

h6.direction:hover {
    background-color: cornsilk;
    color: skyblue;
}

.name {
    font-size: 15px;
    //font-style: italic;
    color: black;
    font-family: "Times New Roman";
}

h6.name {
    margin-block: auto;
}

.Mme {
    color: papayawhip;
}
.Elmire {
    color:cornflowerblue;
}
.Dorine {
    color:darkkhaki
}

.Damis {
    color:darkseagreen;
}
.Mariane{
    color:honeydew;
}